<h2>Boka {{resourceName}}</h2>
<form name="booking_form" action="/bookings/book_resource/" method="post" accept-charset="UTF-8" novalidate>
  <div class="row">
      <div class="col-md-6">
          <p class="input-group">
           <label>Start Date:</label>
            <input type="text" name="startDate" class="form-control" datepicker-popup="'yyyy-MM-dd" ng-model="BookingStartDate" is-open="openedStart" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-button-bar="false">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
            <timepicker name="startTime" ng-model="BookingStartTime" minute-step="30" show-meridian="false" readonly-input="true"></timepicker>
            <input type="hidden" name="startTime" value="{{BookingStartTime | date: 'HH:mm:ss'}}">
      </div>
  </div>

  <div class="row">
      <div class="col-md-8">
          <p class="input-group">
            <input type="text" name="endDate" class="form-control" datepicker-popup="'yyyy-MM-dd" ng-model="BookingEndDate" is-open="openedEnd" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" show-button-bar="false" ng-required="true">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openEnd($event)">
                <i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <timepicker name="endTime" ng-model="BookingEndTime" minute-step="30" show-meridian="false" readonly-input="true"></timepicker>
            <input type="hidden" name="endTime" value="{{BookingEndTime | date: 'HH:mm:ss'}}">
          </p>
      </div>
  </div>

  <input type="text" name="msg"><br>
  <input type="hidden" name="resourceId" value="{{currentResource}}">
  <input type="submit" value="Reserve">

</form>