<div class="col-md-2">
        Search: <input ng-model="query.name">

  		<select ng-model="orderProp">
    	<option value="start">Alphabetical</option>
    	<option value="age">Newest</option>
  		</select>
    </div>
  <ul>
    <article ng-repeat="booking in bookings.data | filter:query | orderBy:orderProp" style="width: 15em; height: 2em%; border: solid 1px black;
    background-color: white;">
    	<a href="#/bookings/{{booking.id}}">{{booking.start}}</a>
      	<p>{{booking.end}}</p>
    </article>
  </ul>
  <br>
  <a href="#/new_reservation">Ny bokning</a>