<h1>CALENDAR</h1>

{{alertMessage}}

<script type="text/ng-template" id="templateId">
    <h1>Template heading</h1>
    <p>{{startDate}}</p>
</script>

<div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar">
</div>
<!--<table class="calendar">
	<caption>
		<h2>Week {{bookings.week}}</h2>
	</caption>
	<tr>
		<th></th>
		<th ng-repeat="day in weekdays">{{day}}<br>{{week_start_date($index)}}</th>
	</tr>
	<tr ng-repeat="time in times">
		<th>{{time}}</th>
		<td id="'mon' + "'{{$index}}'"">{{$index}}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
{{bookings}} -->

<span class="glyphicon glyphicon-star"></span> STAR