<h1>Create Schedulr</h1>

<form method="post" action="/schedulr/create/">
	<input name="eventDesc" type="text">

	<div ng-controller="AlertDemoCtrl">
  		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  			<input name="choiceTime_{{$index}}" type="time">
  			<input name="choiceDate_{{$index}}" type="date">
  		</alert>
		<button type="button" class='btn btn-default' ng-click="addAlert()">Add Alert</button>
	</div>
<br>
	
	<input type="submit" value="Create">
</form>
