<h2>Boka {{resourceName}}</h2>
<div>
 	<form name='bookingform' method="post" action="/bookings/book_resource/" accept-charset="UTF-8" novalidate>
		<input type="hidden" name="resource" value="{{resourceName}}">
		Start date: <input required type="date" name="start_date" ng-model="booking.start_date"><input required type="time" ng-model="booking.start_time"name="start_time"><br>
		End date: <input required type="date" name="end_date" ng-model="booking.end_date" min="2014-02-03">
		<input required type="time" ng-model="booking.end_time" name="end_time"><br>
		Message: <input required type="text" name="msg"><br>
		<input type="submit" name="reservation_button" value="boka" ng-disabled="!formValidate(bookingform)">
	</form>
</div>

