<div class="col-md-2">
  Search: <input ng-model="query.name">
  <select ng-model="orderProp">
    <option value="start">Alphabetical</option>
    <option value="age">Newest</option>
  </select>
</div>

<ul>
  <article ng-repeat="resource in resources.data | filter:query | orderBy:orderProp" style="width: 15em; height: 2em%; border: solid 1px black;
    background-color: white;">
    <a href="#/resources/{{resource.name}}">{{resource.name}}</a><br>
    {{resource.description}}
  </article>
</ul>
<a href="#/my_bookings">Mina bokningar</a>
<a href="/logout">Log out</a>
<br>