<h1>{{resourceName}}</h1>

<ul>
  <li ng-repeat="resource in resource_bookings.data">
    <!-- <p>Start: {{resource.fields.start_date}} {{resource.fields.start_time}}</p> -->
    <a href="#/resources/{{resourceName}}/{{resource.pk}}">
    	Start: {{resource.fields.start_date}} {{resource.fields.start_time}}
    </a>
    <p>End: {{resource.fields.end_date}} {{resource.fields.end_time}}</p>
    <p>Message: {{resource.fields.message}}</p>
  </li>
</ul>

<a href="#/resources/{{resourceName}}/reservation">Boka {{resource}}</a>