<h1>SCHEDULR</h1>
<div style="width: 500px; margin: auto;">
<accordion close-others="true">
    <accordion-group heading="{{event.fields.description}}" ng-repeat="event in events" ng-click="getEventDetails(event.pk)">
		<table class="table">
			<tr>
				<th class="centered_header">
					<span class="glyphicon glyphicon-user header_icon"></span>
            	</th>
    			<th ng-repeat="ch in eventDetails.data.choice" class="centered_header">
      				{{ch.fields.start | date: 'yyyy-MM-dd'}}<br>
      				{{ch.fields.start | date: 'HH:mm'}}
      			</th>
      		</tr>

      		<tr ng-repeat="user in eventDetails.data.response">
      			<td class="user_column">{{user.user}}</td>
      			<td ng-repeat="ans in user.answers" class="choice_{{ans.fields.free}}">
      			</td>
      		<tr>

  		</table>
    </accordion-group>
</accordion>
</div>