<h1>User bookings</h1>

<ul>
	<article ng-init="show=false" ng-click="show=!show" ng-repeat="booking in user_bookings.data" style="width: 20em; height: 2em%; border: solid 1px black;
	background-color: white;">
		<a href="#/resources/{{resourceName}}/{{resource.pk}}">
		Start: {{booking.fields.start_date}} {{booking.fields.start_time}}
		</a>
		<div ng-show="show">
		<p>End: {{booking.fields.end_date}} {{booking.fields.end_time}}</p>
		<p>Message: {{booking.fields.message}}</p>
		<p>Resource: {{booking.fields.resource}}</p>
		<p>ID: {{booking.pk}}</p>
		<form method="post" action="/bookings/remove_booking/" accept-charset="UTF-8">
			<input type="hidden" name="booking_id" value="{{booking.pk}}">
			<input type="hidden" name="resource_name" value="{{booking.fields.resource}}">
			<input type="submit" value="Avboka" name="unreservation_button">
		</form>
		<div>
	</article>
</ul>
