<html ng-app="cormanApp" ng-controller='loginCtrl' id="top">
<head>
	<script type="text/javascript" src="js/jquery.min.js"></script>
  	<script type="text/javascript" src="js/jquery-ui.js"></script>
  	<script type="text/javascript" src="js/angular.js"></script>
  	<script type="text/javascript" src="js/controllers.js"></script>
  	<script type="text/javascript" src="js/angular-route.js"></script>
  	<script type="text/javascript" src="js/corman.js"></script>
  	<script type="text/javascript" src="js/fullcalendar.js"></script>
  	<script type="text/javascript" src="js/calendar.js"></script>
  	<script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
  	<script type="text/javascript" src="js/ngDialog.js"></script>
  	<link rel="stylesheet" type="text/css" href="css/ngDialog.css">
    <link rel="stylesheet" type="text/css" href="css/ngDialog-theme-default.css">
  	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="css/fullcalendar.css">
</head>
<body>
  <div ng-if="logged_in" ng-view>
  </div>

	<div ng-if="!logged_in">
  		<a href="/accounts/google/login/?process=login">
			<img src="Red-signin-Long-base-44dp.png" 
				onmouseover="this.src='Red-signin-Long-hover-44dp.png'" 
				onmouseout="this.src='Red-signin-Long-base-44dp.png'"
				onclick="this.src='Red-signin-Long-press-44dp.png'"
				width="246" height="54" alt="Sign in button">
		</a>
	</div>
</body>
</html>